body {
    margin: 0;
    padding: 0;
    background: #333;
}

.login-form1 {
    width: 350px !important;
    height: auto !important; 
    position: absolute !important;
    padding: 30px 30px 10px 30px !important;
    background: #fff;
    left: 35% !important;
    margin-top: -18% !important;
    -webkit-transform: translateX(-50%) translateY(-50%) !important;
    transform: translateX(-50%) translateY(-50%) !important;
    border: 5px solid #c0b8a8 !important;
}

#logoblog {
    width: 70% !important;
    margin-left: 16% !important;
}

#velkommen {
    color: #1f1f1f;
    font-family: 'Montserrat', sans-serif;
  text-align: center !important;
}

#tilmeld {
    color: #1f1f1f;
    text-align: center !important;
    font-size: 14px;
    margin-top: 5% !important;
    font-family: 'Montserrat', sans-serif;
  text-transform: none;
}

.form1 {
    width: 100% !important;
    position: relative;
    margin: 25px auto !important;
}

#min{
    margin-left: 25% !important;
}

input[type="email1"] {
    width: 100% !important;
    height: 40px !important;
    position: relative !important;
    font-size: 16px !important;
    font-family: 'Montserrat', sans-serif;
    text-align: center !important;
    margin-bottom: 5% !important;
    border: 2px solid #c0b8a8 !important;
}

::-webkit-input-placeholder {
  color: lightgrey;
}

:-ms-input-placeholder {
  color: lightgrey;
}

::placeholder {
  color: lightgrey;
}

input[type="email1"]:focus {
    border: 2px solid #c0b8a8 !important;
}

.fas1 {
    position: absolute !important;
    right: 10px !important;
    top: 0px !important;
    padding-top: 12px !important;
    color: #c0b8a8 !important;
}

input[type="buttonpopup"] {
    width: 100%;
    height: 50px;
    background: #fff !important;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    color: #000000!important;
    outline: none;
    border: 2px solid #c0b8a8 !important;
    font-weight: 600;
    cursor: pointer;
  text-align: center !important;
}

input[type="submitpopup"] {
  	width: 100%;
    height: 50px;
    background: #c0b8a8 !important;
    font-size: 16px;
    color: #fff;
    text-align: center !important;
    font-weight: 900;
    border: none;
    margin-bottom: 5% !important;
    cursor: pointer !important;
    font-family: 'Montserrat', sans-serif;
  text-align: center !important;
}

input[type="buttonpopup"]:hover {
  	background-color: #8accc8 !important
        /*#3e8e41*/
    ;
    opacity: 0.9;
    color: white !important;
    border: 2px solid #8accc8 !important;
}

input[type="submitpopup"]:hover {
  	background-color: #8accc8 !important
        /*#3e8e41*/
    ;
    opacity: 0.9;
    border: 2px solid #8accc8 !important;
}

.input:hover {
    position: relative;
    -webkit-animation: shake 1s;
    animation: shake 1s;
}

.popupCloseButton1 {
    background-color: #fff;
    border: 3px solid #c0b8a8 !important;
    border-radius: 50px;
    cursor: pointer;
    display: inline-block;
    font-family: "arial";
    font-weight: bold;
    position: absolute;
    top: -20px;
    right: -20px;
    font-size: 25px;
    line-height: 30px;
    width: 35px;
    height: 35px;
    text-align: center;
}


.login-form1 {
    -webkit-animation: slide-in-blurred-top 0.8s cubic-bezier(0.230, 1.000, 0.320, 1.000) 2s both;
    animation: slide-in-blurred-top 0.8s cubic-bezier(0.230, 1.000, 0.320, 1.000) 2s both;
}


/* ----------------------------------------------
 * Generated by Animista on 2019-10-29 10:25:23
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation slide-in-blurred-top
 * ----------------------------------------
 */

@-webkit-keyframes slide-in-blurred-top {
    0% {
        -webkit-transform: translateY(-1000px) scaleY(2.5) scaleX(0.2);
        transform: translateY(-1000px) scaleY(2.5) scaleX(0.2);
        -webkit-transform-origin: 50% 0%;
        transform-origin: 50% 0%;
        -webkit-filter: blur(40px);
        filter: blur(40px);
        opacity: 0;
    }

    100% {
        -webkit-transform: translateY(0) scaleY(1) scaleX(1);
        transform: translateY(0) scaleY(1) scaleX(1);
        -webkit-transform-origin: 50% 50%;
        transform-origin: 50% 50%;
        -webkit-filter: blur(0);
        filter: blur(0);
        opacity: 1;
    }
}



@media only screen and (max-width: 600px) {
  .login-form{
    display: none !important;
  }
}